$aswindow-size: 200px;
$aswindow-minimized-width: 60px;
$aswindow-minimized-height: 18px;

$aswindow-expand-button-width:18px;
$aswindow-expand-button-height:18px;

$aswindow-top-bar-height: 18px;
$aswindow-bottom-bar-height: 18px;
$aswindow-top-bar-buttons-left-margin: 20px;
$aswindow-top-bar-title-left-padding: 20px;

$aswindow-button-size: 16px;

* {
  padding:0;
  margin:0;
  box-sizing: border-box;

  &::after {
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  &::before {
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
}

.aswindow {
  position: absolute;
  background:white;
  width: $aswindow-size;
  border: 1px solid black;

  .aswindow-top-bar {
    height:$aswindow-top-bar-height;
    position: relative;
    cursor: move;
    background: red;

    .aswindow-title {
      padding-left:$aswindow-top-bar-title-left-padding;
      overflow: hidden;
    }

    .aswindow-top-buttons {
      float:right;
      margin-left:$aswindow-top-bar-buttons-left-margin;
      cursor: pointer;

      .asbutton {
        display: inline-block;
        width:$aswindow-button-size;
        height:$aswindow-button-size;
      }
    }
  }
  .aswindow-content {
    overflow-y: scroll;
    padding:5px;
    height: calc(100% - #{$aswindow-top-bar-height} - #{$aswindow-bottom-bar-height});
  }
  .aswindow-bottom-bar {
    background: blue;
    position: absolute;
    width:100%;
    height:$aswindow-bottom-bar-height;
    bottom: 0;

    .aswindow-status {
      float: left;
      overflow: hidden;
    }
    .aswindow-expand {
      float: right;
      background:yellow;
      cursor: nwse-resize;
      width:$aswindow-expand-button-width;
      height:$aswindow-expand-button-height;
    }
  }
}

.asminimized-window-holder {
  position: fixed;
  bottom: 0px;
  width:100%;

  .aswindow-minimized {
    background:red;
    width:$aswindow-minimized-width;
    height:$aswindow-minimized-height;
    overflow: hidden;
    cursor: pointer;
    float: left;

    .aswindow-minimized-icon {
      float:left;
    }
    .aswindow-minimized-title {
      margin-left:2px;
      width: $aswindow-minimized-width - 20px;
      float:left;
    }
  }
}

.hide {
  display: none;
  visibility: hidden;
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
